h1 {
    font-size: 3em;
    color: #0e0808;
    margin-bottom: 0.8em;
}

h4 {
    font-size: 2em;
    color: #333333;
    margin-top: 0.7em;
}

h5 {
    font-size: 1.55m;;
}

h6 {
    font-size: 1em;
    color: #050505;
    margin-top: 0.5em;
}

p {
    font-size: 1.2em;
    color: #1a1a1a;
    line-height: 1em;
    margin-bottom: 1em;
}

